@import "tailwindcss";
/* Light mode (default) */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

 

*{
  font-family: Outfit ;
}
.custom-text {
    color: rgb(4, 73, 223);
    font-size: 28px;
    font-family: Georgia, serif;
    text-shadow: 2px 2px 4px #aaa;
}
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
html {
  scroll-behavior: smooth;
}

  